<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
         http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
  <display-name>sxtoa</display-name>
  
  <listener>
    <listener-class>com.bjsxt.listener.OnLineListener</listener-class>
  </listener>
  

    <listener>
      <listener-class>com.bjsxt.listener.LogListener</listener-class>
    </listener>
  


  <!--<filter>
    <filter-name>Filter2</filter-name>
    <filter-class>com.bjsxt.filter.Filter2</filter-class>

  </filter>

  <filter>
    <filter-name>Filter1</filter-name>
    <filter-class>com.bjsxt.filter.Filter1</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>Filter1</filter-name>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>Filter2</filter-name>
    <url-pattern>*.jsp</url-pattern>

  </filter-mapping>-->



  <!--  <filter>
      <filter-name>LoginConFilter</filter-name>
      <filter-class>com.bjsxt.filter.LoginConFilter</filter-class>
    </filter>

    <filter-mapping>
      <filter-name>LoginConFilter</filter-name>
      &lt;!&ndash;<url-pattern>/*</url-pattern>&ndash;&gt;
      <url-pattern>*.jsp</url-pattern>
      <url-pattern>*.html</url-pattern>
      <url-pattern>*.action</url-pattern>
    </filter-mapping>


    <filter>
      <filter-name>EncFilter</filter-name>
      <filter-class>com.bjsxt.filter.EncFilter</filter-class>

      &lt;!&ndash;初始化参数&ndash;&gt;
      <init-param>
        <param-name>uu</param-name>
        <param-value>utf-8</param-value>
      </init-param>
    </filter>

    <filter-mapping>
      <filter-name>EncFilter</filter-name>
      <url-pattern>/*</url-pattern>
      &lt;!&ndash;<url-pattern>/servlet/*</url-pattern>
      <url-pattern>*.do</url-pattern>&ndash;&gt;
    </filter-mapping>-->


  <!--全局参数  可以被任何的servlet或者过滤器进行读取-->
  <context-param>
    <param-name>tt</param-name>
    <param-value>utf-8</param-value>
  </context-param>


  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>